@keyframes anime {
    0% {
        color: orange;
    }
    33% {
        color: red;
    }
    66% {
        color: blue;
    }
    100% {
        color: orange;
    }
}


h1 {
    animation: anime infinite 3s linear;
}

body{
  text-align: center;
  padding-top: 40vh;
}
